.authContent {
    display: flex;
    overflow-y: hidden;
    width: min(1280px, 100%);
    align-items: safe flex-start;
    justify-content: safe center;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 24px;
}