.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 229px;
  margin-bottom: 36px;
  margin-top: -24px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 229px;
  margin-bottom: 24px;
}

.iconWrapper {
  width: 473px;
  height: 352px;
}
