@use '../../../../src/styles/fonts' as font;
@use '../../../../src/styles/colors' as color;

.forgotPassForm {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
  }

  &__title {
    margin-bottom: 37px;
    @include font.h1;
    text-align: center;
  }

  &__descr {
    margin: 7px 0 17px;
    @include font.regular-text-14;
    color: color.$light-900;
  }

  &__sendLink {
    margin-bottom: 24px;
  }

  &__info {
    @include font.regular-text-14;
    margin-bottom: 18px;
    width: 100%;
  }

  a {
    @include font.h3;
    color: color.$accent-500;
    margin-bottom: 24px;
    text-align: center;
  }

}





