
@use '../../../../../../../src/styles/fonts' as *;
@use '../../../../../../../src/styles/colors' as *;


.confirmDeleteContent {
    height: 180px;
    width: 438px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 30px 24px 36px 0;

  }
  
  .confirmDeleteContent > p {
    @include regular-text-16;
    text-align: center; 
    margin-bottom: 54px; 
  }
  
  .confirmDeleteButtons {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 24px;
    
    button {
      width: 96px; 
      height: 36px; 
    }
  }