.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 294px;
    margin-bottom: 31px;
    margin-top: -24px;
}

.iconWrapper {
    width: 473px;
    height: 352px;
}