@use '../../../../../../../src/styles/colors' as *;
@use '../../../../../../../src/styles/fonts' as font;


.Overlay {
    background-color: $dark-900;
    position: fixed;
    inset: 0;
    opacity: 0.8;
}

.Content {
    background-color: $dark-300;
    color: $light-100;
    border-radius: 2px;
    border: 1px solid $dark-100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $dark-100;
    padding: 12px 24px 11px 24px;
    height: 59px;
}

.Title {
    @include font.h1;
    text-transform: capitalize;
}

.Children {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.IconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}