@use '../../../../../../src/styles/fonts' as *;
@use '../../../../../../src/styles/colors' as *;

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 23px;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}