@mixin flexContainer($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    height: 100%;
}

@mixin rootContainer() {
    width: min(1280px, 100%);
    height: 100%;
    margin: 0 auto;
}