@use '@/src/styles/utils' as *;

.rootLayout {
  @include root-container;

  color: white;
}

.display {
  @include flex-container(row, flex-start, flex-start);
  width: 100%;
}

.mainWrapper {
  padding: 36px 60px 0 24px;
  width: 100%;

  &[data-isuserauthorized='true'] {
    margin: 0 auto;
    width: min(972px, 100%);
  }
}
