@use '@/src/styles/utils' as *;

.rootLayout {
  @include root-container;

  color: white;
}

.loader {
  @include flex-container(row, center, center);

  width: 100%;
  height: 100svh;
}

.display {
  @include flex-container(row, flex-start, flex-start);

  width: 100%;
}

.mainWrapper {
  width: 100%;
  padding: 36px 154px 24px;

  &[data-isuserauthorized='true'] {
    width: min(972px, 100%);
    margin: 0 24px;
    padding: 36px 0 0;
  }
}
