@use '@/src/styles/fonts' as font;
@use '@/src/styles/colors' as color;
@use '@/src/styles/utils' as u;

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 328px;
}

.formTitle {
  @include font.h1;

  margin-bottom: 13px;
}

.oAuthWrapper {
  @include u.oauth-wrapper;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
}

.fieldsWrapper > div {
  margin-bottom: 24px;
}

.fieldsWrapper > div:last-child {
  margin-bottom: 21px;
}

.fieldsWrapper > div:has([data-errortext='true']) {
  margin-bottom: 0;
}

.conditions {
  @include font.small-text;
}

.actionsWrapper {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  row-gap: 21px;

  margin-bottom: 18px;
}

.switchToSignIn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  margin-bottom: 6px;

  p {
    @include font.regular-text-16;
  }

  a {
    @include font.h3;

    color: color.$accent-500;
  }
}
