@use '@/src/styles/fonts' as font;
@use '@/src/styles/colors' as color;
@use '@/src/styles/utils' as utils;

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 328px;
  padding: 0;
  border-radius: 1px;

  color: color.$light-100;

  background-color: transparent;
}

.title {
  @include font.h1;

  margin-bottom: 13px;
}

.oAuth {
  @include utils.oauth-wrapper;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorField {
  width: 100%;
  margin-bottom: 15px;
  padding: 4px 8px;
  border: 1px solid color.$danger-700;
  border-radius: 4px;

  color: color.$danger-300;
  text-align: center;

  background-color: rgb(153 15 43 / 30%);
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
}

.fieldsWrapper > div:not(:last-child) {
  margin-bottom: 24px;
}

.fieldsWrapper > div:has([data-errortext='true']) {
  margin-bottom: 0;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  margin-bottom: 8px;
}

.forgotLink {
  @include font.regular-text-14;

  display: flex;
  justify-content: right;

  margin-top: 36px;
  margin-bottom: 24px;

  color: color.$light-900;

  transition: color 0.2s;
}

.buttonWraper {
  margin-bottom: 18px;
}

.bottomText {
  color: color.$accent-500;
  text-align: center;
}

.bottomText p {
  color: color.$light-100;
}

.textContent {
  margin-bottom: 6px;
}

.signUpLink {
  @include font.h3;

  transition: color 0.2s;
}
