@use '../../../src/styles/colors' as *;
@use '../../../src/styles/fonts' as font;

.errorMessageBlock {
  max-width: 445px;
  height: 60px;
  padding: 6px 45px 5px;
  border: 1px solid $danger-500;
  border-radius: 2px;

  color: $light-100;

  @include font.regular-text-14;

  text-align: center;

  background-color: $danger-900;
}
