.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 229px;
    margin-bottom: 72px;
}

.iconWrapper {
    width: 432px;
    height: 300px;
}