@use '../../../../src/styles/fonts' as font;
@use '../../../../src/styles/colors' as color;

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    @include font.h1;
    margin-bottom: 37px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > :nth-child(1) {
        margin-bottom: 24px;
    }

    .underTitle {
        @include font.regular-text-14;
        color: color.$light-900;
        margin: 7px 0 40px 0;
    }

    .button {
        margin-bottom: 6px;
    }
}